<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBkuX9-Lz75t16O8LqKq91FztRplyvNigg</string>
	<key>GCM_SENDER_ID</key>
	<string>557725766125</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.schoolssla.ssla</string>
	<key>PROJECT_ID</key>
	<string>a-3f872</string>
	<key>STORAGE_BUCKET</key>
	<string>a-3f872.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:557725766125:ios:76a5ddf1b9a3868c0017e4</string>
</dict>
</plist>